*.log
*.mat
*.sh
.idea/
CMakeFiles/
bin/
build-NOGUI/
build-release/
build/
cmake-build-debug/
cmake-build-release/
cmake/
models/
rotate-test/
src/autodiff.h
src/example.cpp
test/
.DS_Store

\.vscode/
